<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doublejj.edit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edit"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.modules.main.myedit.settings.profile.ProfileActivity"></activity>
        <activity android:name=".ui.modules.main.myedit.settings.withdrawal.WithdrawalCompleteActivity" />
        <activity
            android:name=".ui.modules.main.myedit.settings.withdrawal.WithdrawalReasonActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.modules.main.myedit.settings.withdrawal.WithdrawalActivity" />
        <activity android:name=".ui.modules.main.myedit.settings.SettingsActivity" />
        <activity
            android:name=".ui.modules.main.home.writing_sentence.WritingSentenceActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.modules.main.home.writing_comment.WritingCommentActivity" />
        <activity android:name=".ui.modules.main.walkthrough.WalkThroughActivity" />
        <activity android:name=".ui.modules.main.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.modules.main.MainActivity" />
    </application>

</manifest>