<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doublejj.edit">

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edit"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.modules.main.login.LogInActivity"></activity>
        <activity android:name=".ui.modules.main.signup.SignUpActivity" />
        <activity android:name=".ui.modules.main.walkthrough.WalkThroughActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.modules.main.splash.SplashActivity" />
        <activity android:name=".ui.modules.main.MainActivity">

        </activity>
    </application>

</manifest>